:root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --orange: #ffc107;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #fafafa;
    --black-color: #040404;
    --bm-red: #f44336;
    --bm-orange: #ff9800;
    --bm-yellow: #ffeb3b;
    --bm-text-gray: #d7d4cd;
}